Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="name">Name</option>
    <option value="weight">Весу</option>
    <option value="-weight">Весу(по убыванию)</option>
    <option value="height">Росту</option>
</select>

Фильтрация по типу:
<select ng-model="typeFilter">
    <option value=""></option>
    <option value="electric">electric</option>
    <option value="grass">grass</option>
    <option value="normal">normal</option>
    <option value="fire">fire</option>
    <option value="water">water</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: {name: myQuery, type: typeFilter} | orderBy: myOrderProperty">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="alert_name(pokemon.name)">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="className(pokemon.type | limitTo:1)">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>